<div class="user_profile mt-5 mb-5">
  <div class="icon text-center">
    <%= image_tag @user.image_url(:thumb) %>
  </div>
  <div class="name text-center">
    <h1><%= @user.nickname %></h1>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-secondary">
      <%#= link_to "プロフィールを編集する", "/users/edit" %>
      <%= link_to "プロフィールを編集する", edit_user_registration_path %>
    </button>

<!--    <button type="button" class="btn btn-secondary">-->
    <%#= link_to "削除する", "/users", method: :delete, data: {confirm: "ユーザーを削除しますか?"} %>
<!--    </button>-->

  </div>
</div>

<!-- 投稿一覧 -->
<div class="text-center mt-5 mb-5">
  <h2><%= @user.nickname %>の投稿一覧</h2>
</div>
<div class="row show_images text-center">
  <% @posts.each do |post| %>
    <div class="col-xl-4 col-md-6 col-sm-12 mb-5">
      <h3><%= post.title %></h3>
      <%= link_to post_path(post), class: "nav-item nav-link" do %>
        <%= image_tag post.product_image_url(:thumb) %>
      <% end %>
      <%= link_to '削除', post_path(post), method: :delete, data: {confirm: "投稿を削除しますか?"}  %>
    </div>
  <% end %>
</div>