<%= form_tag('/search', method: :get) do %>
  <%= label_tag :名前 %>
  <%= text_field_tag :search_title %>
  <%= submit_tag '検索' %>
<% end %>

<div class="row show_images text-center">
  <% @posts.each do |post| %>
    <div class="col-xl-4 col-md-6 col-sm-12">
      <!-- Content -->

      <%= link_to post_path(post), class: "nav-item nav-link" do %>
        <%= image_tag post.product_image_url(:thumb) %>
      <% end %>
      <p>タイトル:<%= post.title %></p>
      <p>投稿者:<%= post.user.nickname %></p>
    </div>
  <% end %>
</div>