<!DOCTYPE html>
<html>
<head>
  <title>LoginSample4</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- bootstrap -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Top</a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navmenu1"
          aria-controls="navmenu1"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navmenu1">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <%= link_to new_post_path, class: "nav-item nav-link" do %>
          <i class="fas fa-plus"></i>新規投稿
        <% end %>
        <!--<a class="nav-item nav-link" href ="/post_form/<%= @user_id %>"><i class="fas fa-plus"></i>新規投稿</a>-->
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% @nickname = User.find_by(id: current_user.id) %>
            <%= @nickname.nickname %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <%= link_to "マイページを表示", user_path(current_user.id), class: 'dropdown-item' %>
            <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </div>
        <%= link_to users_path, class: "nav-item nav-link" do %>
          <i class="fas fa-users"></i>ユーザー一覧
        <% end %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: 'nav-item nav-link' %>
        <%= link_to "サインイン", new_user_session_path, class: 'nav-item nav-link' %>
      <% end %>
    </div>
  </div>
</nav>

<body>
  <div class="container">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </div>
</body>
</html>